h1
{
    color: red; 
    text-align: center;
}
h2{
	color: royalblue;
    text-align: center;
}
p
{
    text-align: center;
}
.cuerpo{
    background: #f5ee31;
    width: 300px;
    height: 400px;
    border: 5px solid #000;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}
/*ojos*/
.ojos{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 210px;
    z-index: 10;
}
.ojo{
    background: #fff;
    position: relative;
    border: 5px solid #000;
    width: 100px;
    height: 100px;
    margin-right: -17px;
    display: inline-block;
    border-radius: 50%;
}
.ojo-externo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    background: #00AEEF;
    border: 3px #000;
    top:50px;
    left: 20px;
}
.ojo-interno{
    width: 30px;
    height: 30px;
    background: #000;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
.pestanas{
    position: relative;
    bottom: 23px;
    left: 15px;

}
.pestana{
    width: 15px;
    height: 5px;
    background: #000;
    display: inline-block;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: 10px;
    
}
.pestana.prim{
    position: relative;
    top:10px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pestana.ter{
    position: relative;
    top: 10px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*nariz*/
.nariz{
    width: 20px;
    height: 40px;
    background: #f5EE31;
    border: 5px solid #000;
    position: absolute;
    top: 110px;
    left: 130px;
    z-index: 10;
    border-bottom: 5px solid transparent;
    border-radius: 42.5%;
}
.boca{
    width: 200px;
    height: 80px;
    background: transparent;
    position: absolute;
    top: 120px;
    right: 50px;
    border-radius: 50%;
    z-index: 10px;
    border-bottom: 5px solid #000;
}
.dientes{
    position: relative;
    top: 80px;
    left: 65px;
}
.diente{
    width: 20px;
    height: 20px;
    background: #fff;
    border: 5px solid #000;
    display: inline-block;
}
.mejilla{
    width: 30px;
    height: 20px;
    background: transparent;
    position: absolute;
    top: 30px;
    border: 3px solid #f1592A;
    border-bottom: 3px solid transparent;
    border-radius: 50% 50% 20% 20%;
}
.mejilla.primera {
    left: -15px;
}
.mejilla.segunda{
    left: 175px;

}
/*CAMISA*/
.camisa 
{
	width:100%;
	height:50px;
	background:#fff;
	position: absolute;
	bottom:50px;
	border-top:5px solid #000;
	z-index:10;
	overflow:hidden;
}
.cuello 
{
	width:50px;
	height:30px;
	position: absolute;
	background:#fff;
	top:-25px;
	border:5px solid #000;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
.cuello.primero 
{
	left:60px;
}
.cuello.segundo 
{
	left:180px;
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.cuello_corbata 
{
	width:40px;
	height:40px;
	background:#F00200;
	border:5px solid #000;
	position:absolute;
	left:130px;
	bottom:30px;
	z-index:50;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
